<header class="fixed-top mat-typography">
	<nav class="navbar navbar-expand-md navbar-dark bg-blue">
		<a class="navbar-brand" [routerLink]="'kaart'" style="cursor: pointer">
			<strong style="color: white">TrainSpotter</strong>
		</a>

		<button class="button-border navbar-toggler" type="button" (click)="toggleNavbar()">
			<fa-icon [icon]="faBars"></fa-icon>
		</button>

		<div class="collapse navbar-collapse" [ngbCollapse]="navbarOpen">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item align-self-md-center pr-md-3" style="cursor: pointer">
					<a class="nav-link router-link-hover d-flex" routerLink="/kaart">
						<img
							[routerLink]="'kaart'"
							src="../../../../assets/icons/icon-192x192.png"
							height="20"
							alt="TrainSpotter"
							style="margin-right: 4px"
						/>
						<strong class="link-hover" routerLinkActive="link-active">Kaart</strong></a
					>
				</li>
				<li class="nav-item align-self-md-center pr-md-3" style="cursor: pointer">
					<a class="nav-link router-link-hover d-flex" routerLink="/stations">
						<strong class="link-hover" routerLinkActive="link-active">Stations</strong></a
					>
				</li>
			</ul>
			<form class="nav-item form-inline my-md-2 my-lg-0 flex-nowrap">
				<ng-template #rt let-r="result" let-t="term">
					<div [ngSwitch]="r.resultType" style="display: inline">
						<ng-container *ngSwitchCase="0"
							><ng-container *ngTemplateOutlet="train"></ng-container
						></ng-container>
						<ng-container *ngSwitchCase="1"
							><ng-container *ngTemplateOutlet="station"></ng-container
						></ng-container>
						<ng-template #train>
							<button
								class="button button--nsYellow button--crosshair"
								style="margin-left: 8px"
								(click)="flyToTrainOnMap(r.result)"
							>
								<fa-icon [icon]="faCrosshairs" style="font-size: small"></fa-icon>
							</button>
						</ng-template>
						<ng-template #station>
							<button
								class="button button--nsYellow button--crosshair"
								style="margin-left: 8px"
								(click)="flyToStationOnMap(r.result)"
							>
								<fa-icon [icon]="faCrosshairs" style="font-size: small"></fa-icon>
							</button>
						</ng-template>
					</div>
					<ngb-highlight [result]="r.searchField" [term]="t" style="vertical-align: sub"></ngb-highlight>
				</ng-template>
				<div id="scrollable-dropdown-menu">
					<input
						#globalTypeahead
						id="global-typeahead"
						type="text"
						class="form-control input-small"
						placeholder="Zoek trein, treinstel, station, vervoerder"
						aria-label="Search"
						[class.is-invalid]="searchGloballyFailed"
						[ngbTypeahead]="searchGlobally"
						[resultTemplate]="rt"
						[disabled]="!allDataLoaded"
						(selectItem)="selectItemFromGlobalSearch($event)"
					/>
				</div>
				<button class="button button--nsYellow button--small ml-2" [disabled]="!allDataLoaded">Zoek</button>
			</form>
		</div>
	</nav>
</header>
