<div id="sidebar-container">
  <div (click)="changeState()" [@openClose-arrow]="sidebarState"  class="frosted left-shadow" id="sidebar-arrow">
    <span [@rotatedState]="sidebarState"  class="material-icons" style="margin-top: 85%">
      expand_more
    </span>
  </div>
  <div (@openClose.done)="done($event)" [@openClose]="sidebarState"
       class="frosted left-shadow"
       id="sidebar"
  >
    <div [@openClose-content]="sidebarState" class="container" id="sidebar-content">
      <div class="col">
        <div class="row">
          <button (click)="changeState()" class="button"
                  id="close-button">
            <strong>&times;</strong>
          </button>
        </div>
        <div class="row">
          <div *ngIf="disruptions">
            <div *ngFor="let disruption of disruptions" class="card bg-light mb-3" style="max-width: 18rem;">
              <div *ngIf="disruption.type === 'verstoring' || disruption.type === 'werkzaamheid'; else elseMelding">
                <div (click)="flyToDisruptionOnMap(disruption)" class="card-header headingS" style="cursor: pointer">
                  <div *ngIf="disruption.type === 'werkzaamheid'; else elseDisruption" style="display: inline">
                    <img alt="Werk aan het spoor" src="../../../assets/maintenance--red--35x35.svg" style="
                position: inherit; height: 30px; display: inline"/>
                  </div>
                  <ng-template #elseDisruption>
                    <img alt="Storing" src="../../../assets/alert--red--35x35.svg" style="
                position: inherit; height: 30px; display: inline"/></ng-template>
                  {{disruption.titel}}
                </div>
                <div class="card-body">
                  <div *ngIf="disruption.type === 'werkzaamheid'; else elseVerstoring">
                    <h5 class="card-title">{{disruption.verstoring.periode}}</h5>
                    <p class="card-text">{{disruption.verstoring.gevolg}}</p>
                  </div>
                  <ng-template #elseVerstoring>
                    <h5 class="card-title">{{disruption.verstoring.verwachting}}</h5>
                    <p class="card-text">{{disruption.verstoring.oorzaak}}</p>
                  </ng-template>
                </div>
              </div>
              <ng-template #elseMelding>
                <div class="card-header headingS">
                  <img alt="Storing" src="../../../assets/alert--red--35x35.svg" style="
                position: inherit; height: 30px; display: inline"/>
                  {{disruption.titel}}
                </div>
                <div class="card-body">
                  <p class="card-text">{{disruption.melding.beschrijving}}</p>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
