#sidebar
  height: 100%
  max-height: 100%
  transform-origin: right
  float: right

.frosted
  backdrop-filter: blur(10px)
  background-color: rgba(255, 255, 255, 0.5)

.left-shadow
  box-shadow: -15px 0 1rem -2px rgba(0, 0, 0, 0.15)

#close-button
  position: initial
  margin: 8px 0 8px 0
  padding: 12px 10px 15px 10px

#sidebar-content
  overflow: scroll
  height: 100%
  width: 100%
  transform: scaleX(1)
  opacity: 1
  transform-origin: right

#sidebar-arrow
  height: 75px
  width: 30px
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  top: calc(50% - (75px / 2))
  text-align: center
  cursor: pointer
  float: left
  position: absolute
  right: 0

#sidebar-container
  height: 100%
  overflow: hidden
  padding-left: 30px

