<header class="navbar navbar-expand-md fixed-top">
  <div class="container-fluid">
    <nav class="navbar">
      <a class="navbar-brand" [routerLink]="'train-map'" style="cursor: pointer">
        <img src="./../../../assets/NS-white.png" height="30" alt="food" style="color: white">
      </a>
    </nav>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto pl-1">
        <li class="nav-item align-self-center pr-1" style="cursor: pointer">
          <svg class="bi bi-house-door-fill" width="1.3em" height="1.3em" viewBox="0 0 16 16"
               fill="currentColor" xmlns="http://www.w3.org/2000/svg" [routerLink]="'train-map'">
            <path d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
          </svg>
        </li>
        <li class="nav-item col-md-5 col-lg-auto text-md-center" routerLink="/energiebehoefte-berekening">
          <a [routerLink]="'energiebehoefte-berekening'"
             [routerLinkActive]="['router-link-active']"
             class="nav-link router-link-hover"><strong>Energiebehoefte berekenen</strong></a>
        </li>
        <li class="nav-item col-md-5 col-lg-auto text-md-center" routerLink="/energiebehoefte-berekening">
          <a [routerLink]="'energiebehoefte-berekening'"
             [routerLinkActive]="['router-link-active']"
             class="nav-link router-link-hover"><strong>Anamnese invoeren</strong></a>
        </li>
      </ul>
      <div class="nav-item col-4 text-right">
        <div class="d-md-inline" id="userDropdown" (click)="$event.stopPropagation(); myDrop.open();"
             style="cursor: pointer">
          <strong>
            B. Bakker
          </strong>
          <div *ngIf="myDrop.isOpen(); else elseBlock" style="display: inline">
            <svg class="bi bi-caret-up-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 00.753-1.659l-4.796-5.48a1 1 0 00-1.506 0z"/>
            </svg>
          </div>
          <ng-template #elseBlock>
            <svg class="bi bi-caret-down-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"/>
            </svg>
          </ng-template>
        </div>
        <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown">
          <div ngbDropdownMenu aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu-right">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Profiel</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Wachtwoord wijzigen</a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Uitloggen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
