<div class="card mt-3 shadow p-3 mb-3 bg-white rounded">
	<div class="card-body">
		<div class="form-group form-inline">
			Zoeken: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
			<span class="ml-3" *ngIf="service.loading$ | async">Laden...</span>
		</div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" appNgbdSortableHeader="namen" (sort)="onSort($event)">Station</th>
						<th scope="col" appNgbdSortableHeader="land" (sort)="onSort($event)">Land</th>
						<th scope="col" appNgbdSortableHeader="EVACode" (sort)="onSort($event)">EVA code</th>
						<th scope="col" appNgbdSortableHeader="UICCode" (sort)="onSort($event)">UIC code</th>
						<th scope="col">Open kaart</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let station of stations$ | async">
						<td>
							<ngb-highlight [result]="station.namen.lang" [term]="service.searchTerm"></ngb-highlight>
						</td>
						<td><ngb-highlight [result]="station.land" [term]="service.searchTerm"></ngb-highlight></td>
						<td><ngb-highlight [result]="station.EVACode" [term]="service.searchTerm"></ngb-highlight></td>
						<td><ngb-highlight [result]="station.UICCode" [term]="service.searchTerm"></ngb-highlight></td>
						<td><button class="button" (click)="openStationOnMap(station)">Kaart</button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="d-flex justify-content-between p-2">
			<ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
			</ngb-pagination>

			<select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
				<option [ngValue]="50">50 items per pagina</option>
				<option [ngValue]="100">100 items per pagina</option>
				<option [ngValue]="200">200 items per pagina</option>
			</select>
		</div>
	</div>
</div>
