<div style="height: 100%">
<!--  <mgl-map-->
<!--    [style]="mapStyle"-->
<!--    [zoom]="[zoom]"-->
<!--    [center]="[lng, lat]"-->
<!--    (load)="onMapLoad($event)"-->
<!--  >-->
<!--    <mgl-layer-->
<!--    id="stations"-->
<!--    type="symbol"-->
<!--    [source]="{type: 'geojson', data: stationsLayerData}"-->
<!--    [layout]="{-->
<!--    'icon-image': 'NS',-->
<!--    'icon-size': 0.15,-->
<!--    'icon-allow-overlap': true-->
<!--    }"-->
<!--    [minzoom]="10">-->
<!--    </mgl-layer>-->
<!--    <mgl-layer-->
<!--      id="NSTrainTracks"-->
<!--      type="line"-->
<!--      [source]="{type: 'geojson', data: trainTracksLayerData}"-->
<!--      [layout]="{'line-join': 'round', 'line-cap': 'round'}"-->
<!--      [paint]="{'line-color': '#9C9CA6', 'line-width': 2}"-->
<!--      [before]="'stations'">-->
<!--    </mgl-layer>-->
<!--    <mgl-layer-->
<!--      id="disruptedTrainTracks"-->
<!--      type="line"-->
<!--      [source]="{type: 'geojson', data: disruptedTrainTracksLayerData}"-->
<!--      [layout]="{'visibility': activeMapType.layerId === 'storingen-railroad' ? 'visible' : 'none',-->
<!--      'line-join': 'round', 'line-cap': 'round'}"-->
<!--      [paint]="{'line-color': '#fe0000', 'line-width': 2}"-->
<!--      [before]="'stations'">-->
<!--    </mgl-layer>-->
<!--    <mgl-layer-->
<!--      id="trains"-->
<!--      type="symbol"-->
<!--      [source]="{type: 'geojson', data: trainsLayerData}"-->
<!--      [layout]="{-->
<!--      'icon-image': ['get', 'imageNaam'],-->
<!--      'icon-size': 0.40,-->
<!--      'icon-allow-overlap': true,-->
<!--      'icon-ignore-placement': true-->
<!--      }"-->
<!--      [minzoom]="6"-->
<!--      [maxzoom]="20">-->
<!--    </mgl-layer>-->
<!--  </mgl-map>-->
  <div id="mapControls" *ngIf="true; else loadingMap">
    <div id="mapTypeControl" class="toggle-group border border--2 border--white bg-white shadow-darken10 z1">
      <div class="toggle-container mb-0" *ngFor="let mapType of mapTypes">
        <label for="mapTypeInput" hidden></label>
        <input id="mapTypeInput" name="toggle" type="radio" [checked]="mapType.layerId == activeMapType.layerId"/>
        <div id="mapTypeToggle" class="toggle txt-s py3 toggle--active-white"
             (click)="activeMapType = mapType">
          {{mapType.name}}</div>
      </div>
    </div>
    <div id="playPauseButton" class="border border--2 border--white bg-white shadow-darken10 z1"
         (click)="pauseOrResumeUpdatingTrainPositions()">
      <div class="row">
        <div id="updatePositionsLabel" class="toggle txt-s">Update posities</div>
        <div id="playPauseIconButton" *ngIf="isUpdatingMapData === false; else updatingMapDataSpinner">
          <button mat-icon-button >
            <mat-icon *ngIf="!updateTrainsIsPaused; else playCircleIcon">pause_circle_filled</mat-icon>
            <ng-template #playCircleIcon>
              <mat-icon>play_circle_filled</mat-icon>
            </ng-template>
          </button>
        </div>
        <ng-template #updatingMapDataSpinner>
          <div id="updatingMapDataSpinner" class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-template>
      </div>
      <div id="updatePositionsProgressbar">
        <div class="progress" style="height: 12px; border-radius: 6px">
          <div class="progress-bar" role="progressbar" [ngStyle]="{width: getProgress}" style=" background-color: #003082"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadingMap>
    <div class="loader" style="z-index: 1">
      <div class="bar"></div>
    </div>
  </ng-template>
</div>
