<div *ngIf="disruption">
  <div
    (click)="flyToDisruption.emit(disruption)"
    class="card-header headingS"
    style="cursor: pointer"
  >
    <div
      *ngIf="disruption.type === 'MAINTENANCE'; else disruptionIcon"
      style="display: inline"
    >
      <img
        alt="Werk aan het spoor"
        src="../../../../assets/maintenance--red--35x35.svg"
        style="position: inherit; height: 30px; display: inline"
      />
    </div>
    <ng-template #disruptionIcon>
      <img
        alt="Storing"
        src="../../../../assets/alert--red--35x35.svg"
        style="position: inherit; height: 30px; display: inline"
      /></ng-template>
    {{ disruption.title }}
  </div>
  <div class="card-body">
    <div *ngIf="disruption.type === 'MAINTENANCE'; else disruptionDescription">
      <h5 class="card-title">{{ disruption.period }}</h5>
      <p class="card-text">{{ disruption.impact }}</p>
    </div>
    <ng-template #disruptionDescription>
      <h5 class="card-title">{{ disruption.expectedDuration.description }}</h5>
      <p class="card-text">{{ disruption.timespans[0].situation.label }}</p>
    </ng-template>
  </div>
</div>
