/* You can add global styles to this file, and also import other style files */
@import "~mapbox-gl/dist/mapbox-gl.css"
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css"

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

@import "src/_globals"

//NS style
//https://www.ns.nl/platform/

html
  line-height: 1
  margin: 0
  padding: 0
  text-rendering: auto
  text-transform: none
  min-width: 320px
  background: #e3e7ed
  min-height: 100% !important
  height: 100%

body
  overflow-x: hidden
  line-height: 1
  margin: 0
  padding: 0
  text-rendering: auto
  text-transform: none
  min-width: 320px
  background: #e3e7ed

.mapboxgl-popup-tip
  visibility: hidden

.mapboxgl-popup-content
  background: unset
  box-shadow: unset

.button
  display: inline-block
  position: relative
  padding: 18px
  height: min-content
  vertical-align: top
  font-weight: normal
  white-space: normal
  background-color: $ns-light-blue
  color: white
  box-shadow: 0 -2px 0 darken($ns-light-blue, 10%) inset
  text-align: center
  line-height: 0
  font-size: 16px
  border: none
  border-radius: 4px
  text-decoration: none
  transition: box-shadow 0.15s ease-in-out

  &:hover,
  &:focus
    color: white
    text-decoration: none
    cursor: pointer
    box-shadow: 0 -50px 0 $button__primary__rollover inset

  &:focus
    outline: thin dotted $button__primary__background
    outline-offset: 0

    &:focus
      outline-color: $ns-blue

  &--nsYellow
    background-color: $ns-yellow
    color: $ns-blue
    box-shadow: 0 -2px 0 $ns-yellow-2 inset

    &:hover,
    &:focus
      color: $ns-blue
      box-shadow: 0 -50px 0 $ns-yellow-2 inset

    &:focus
      outline-color: $ns-blue

#mapPopup
  margin-left: 0
  transform: translate(-50%, 0px)

#mapPopupContent
  background-color: $ns-blue
  padding: 20px
  width: max-content

.page-link
  color: $ns-blue

.page-link:hover
  color: $ns-light-blue

.page-item.active .page-link
  background-color: $ns-light-blue
  border-color: $ns-light-blue
