<div class="card mt-3 shadow p-1 p-lg-3 mb-3 bg-white rounded mat-typography h-100">
	<div class="card-body" *ngIf="trainInformation">
		<div>
			<h1 class="card-title font-weight-bold mb-0">Treinstel {{trainsetNr}}</h1>
			<h2 class="card-subtitle mb-2 text-muted font-weight-bold">
				Onderdeel van {{ trainInformation.trainDetails?.vervoerder }} trein {{ trainInformation.ritId }}
			</h2>
			<div
				*ngIf="trainInformation.trainDetails?.materieeldelen && trainInformation.trainDetails?.materieeldelen[0]?.afbeelding"
			>
				<div id="carousel">
					<div
						class="slide"
						*ngFor="let railcar of trainInformation.trainDetails.materieeldelen; let isLast = last"
					>
						<img [src]="railcar.afbeelding" alt="Trein" height="45" [ngClass]="{ 'pr-2': isLast }" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
